---
interface Props {
    horizontalPosition?: 'left' | 'right';
    verticalPosition?: 'top' | 'middle' | 'bottom';
    color1?: string;
    color2?: string;
}

const { 
    horizontalPosition = 'right',
    verticalPosition = 'bottom',
    color1 = 'var(--color-pomp-and-power)',
    color2 = 'var(--color-desert-sand)'
} = Astro.props;

const verticalClass = {
    top: 'top-0',
    middle: 'top-1/2 -translate-y-1/2',
    bottom: 'top-[calc(100%-13rem)] sm:top-[calc(100%-30rem)]'
}[verticalPosition];

const horizontalClass = {
    left: 'left-[calc(50%-3rem)] sm:left-[calc(50%-36rem)]',
    right: 'left-[calc(50%+3rem)] sm:left-[calc(50%+36rem)]'
}[horizontalPosition];
---

<section
    class={`absolute inset-x-0 ${verticalClass} -z-10 transform-gpu overflow-hidden blur-3xl`}
>
    <svg
        class={`relative ${horizontalClass} h-[21.1875rem] max-w-none -translate-x-1/2 sm:h-[42.375rem] animate-slide`}
        viewBox="0 0 1155 678"
    >
        <path
            fill="url(#b9e4a85f-ccd5-4151-8e84-ab55c66e5aa1)"
            fill-opacity=".3"
            d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z"
        >
        </path>
        <defs>
            <linearGradient
                id="b9e4a85f-ccd5-4151-8e84-ab55c66e5aa1"
                x1="1155.49"
                x2="-78.208"
                y1=".177"
                y2="474.645"
                gradientUnits="userSpaceOnUse"
            >
                <stop stop-color={color1}>
                    <animate
                        attributeName="stop-color"
                        values={`${color1}; ${color2}; ${color1}`}
                        dur="5s"
                        repeatCount="indefinite"></animate>
                </stop>
                <stop offset="1" stop-color={color2}>
                    <animate
                        attributeName="stop-color"
                        values={`${color2}; ${color1}; ${color2}`}
                        dur="5s"
                        repeatCount="indefinite"></animate>
                </stop>
            </linearGradient>
        </defs>
    </svg>
</section>
